# Getting Started with Jupyter and Koverse

### First make sure you have a koverse.yaml file in your root directory
### This should contain your user name and client secret.  If you do not have one
### continue through this notebook

<img src="../img/s5.png" />

### Find or create a new api client.  You may first need to create an API token 
### to create a token click the "ADMIN" control on the left hand side of Koverse

<img src="../img/s3.png" />

### Click the 'API TOKENS' tab and make sure that you have an API token, if not enter name and associated user and save.  
### select the user name and copy the API token it will be used in next step

<img src="../img/s12.png" />

### Next click on the 'API CLIENTS' tab and add a name, and paste in the API token above and click save

<img src="../img/s11.png" />

### Finally enter the name and client secret created above into the koverse.yaml

<img src="../img/s10.png" />

### Test to see if it works

In [3]:
from koverse import client
import pandas as pd
client.connect()
myDatasets = [ {'name':x.name,'id':x.id,'recordCount':x.recordCount} for x in client.listDatasets()]
pDatasets = pd.DataFrame(list(myDatasets))
pDatasets[0:4]

,name,id,recordCount
0,Synthea Imaging Studies,synthea_imaging_studies_20200518_224502_974,6530
1,Synthea Immunizations,synthea_immunizations_20200518_224812_002,131919
2,Titanic,titanic_20200511_190511_437,891
3,employees,employees_20200415_141342_249,1007